body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-geral {
  background-image: url("../images/ecossistema-background.png");
  display: flex;
  max-width: 375px;
  width: 375px;
  height: 700px;
  flex-direction: column;
  align-items: center;
}

.div-logo {
  flex: 1;
}

.div-btn {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}
